html{
  background-image: url(http://www.themesltd.com/backgrounds/floral/seafoam_outlined_flowers.png);
}

h1{
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
}

h3{
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

h5{
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
}

p{
  font-family: 'Raleway', sans-serif;
}

li{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: blue;
}

ul{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.container {
  position: center;
  margin: 20px auto;
  width: 600px;
  min-height: 200px;
  padding: 0px 20px 20px 20px;
  border-radius: 13%;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  background-color: #F0F8FF;
}
th {
  text-align: left;
}

.view_buttons{
  display: inline-block;
}

.delete_buttons{
  display: inline-block;
}

}
.form_buttons{
  display: inline-block;
  margin-left: 30%;
}

.hidden{
  display: none;
}

#exit{
  background-color: #D9E9FF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 800px;
  margin-left: 90%;
  margin-right: auto;
  text-align: center;
  position: fixed;
  box-shadow:  10px 10px 30px #888888;
}
