<div class = "container">
  <h1>Previously made characters:</h1>
  <% @characters.each do |character|%>
  <ul><a href = '/character_bio/<%=character.id%>'><%=character.name%></a></ul>
    <%end%>
</div>
<a href = '/'>
  <div class = "other_exit">
    <p>Home</p>
  </div>
</a>
