<div class="container">
<h1><center>THE OC GENERATOR</center></h1>
<!-- if there is a user signed in -->
 <% if current_user %>
    <p>It's nice to see you here again!</p>
    <header><a href ='/logout'>LOGOUT</a> | <a href = '/user/<%=session[:user_id]%>'>PROFILE</a></header>
    <p>Start <a href = '/random'>creating!</a></p>
    <% else %>
    <p>Welcome to the OC generator! Start creating your characters by signing up now!</p>
    <p><a href='/signup'>Signup</a> | <a href='/login'>Login</a> </p>
    <% end %>

  <!-- div that displays a full list of already created characters on the index page -->
  <div class = "displayer">
    <form action = "/character_bio" method = "GET" class ="display_button">
      <input type = "submit" value = "Browse already made OC's!">
    </form>
    <span class= 'hidden'>
    <% @characters = OriginalCharacter.all %>
    <% @characters.each do |character|%>
      <ul><a href = '/character_bio/<%=character.id%>'><%=character.name%></a></ul>
    <%end%>
    </span>
  </div>
</div>
